extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div
            div.fingNick= following.nick
            button.twit-unfollow 팔로우끊기
      form#profile-form(method='post', action='/user/profile')
        input(name='nick')
        button 닉네임 변경
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick
  script.
    document.querySelectorAll('.twit-unfollow').forEach(function (tag) {
      tag.addEventListener('click', function () {
        var isLoggedIn = document.querySelectorAll('#my-id');
        if (isLoggedIn) {
          var userId = tag.parentNode.querySelector('.fingNick').innerHTML;
          var myId = isLoggedIn.value;
          if (userId !== myId) {
            if (confirm('언팔로우 하시겠습니까?')) {
              var xhr = new XMLHttpRequest();
              xhr.onload = function () {
                if (xhr.status === 200) {
                  location.reload();
                } else {
                  console.error(xhr.responseText);
                }
              };
              xhr.open('POST', '/user/' + userId + '/unfollow');
              xhr.send();
            }
          }
        }
      });
    });